/* ADD YOUR CUSTOM CSS TO THIS FILE */
.bg-dark {
    --bs-bg-opacity: 1;
    background-color:black !important;}
}
.bg-primary {
   
    background-image: url("HeroImage.jpg") !important;}
    background-repeat:no-repeat;
    background-size:cover;}
}

body {
    
    color:#182747;
    background-color:#182747 !important;}
    
   .bg-light {
    --bs-bg-opacity: 1;
    text-decoration-color: white; 
    background-color:#42291C !important;}
      
}

.btn-light {
    color:gold;
    background-color:black;
    border-color:black;
}